{{ with .Site.Data.macarons }}
{{ if .enable }}
<section id="macarons" class="site-project" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title" style="margin: 0 0 0 0;">
          <h2>{{ .title }}</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="site-project-single-description" style="margin: 0 0 0 0;">
              <p><h4>{{ .flavours.title }}</h4></p>
              {{ range .flavours.flavours }}
              <p style="margin: 0 0 5px 20px; font-size: 1.2em;">{{ . }}</p>
              {{ end }}
              <br/>
              <div class="section-title">
                <p><h4>{{ .allergens_title }}</h4></p>
                {{ range .allergens }}
                <p style="margin: 0 0 5px 20px; font-size: 1.2em;">{{ . }}</p>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="site-project-single-image">
            {{ range .images }}
            <img style="padding-bottom: 15px;" src="{{ . }}" alt="image">
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}